<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.myboard.shop.mapper.BoardMapper">
	<select id="getAllBoardList" resultType="com.myboard.shop.dto.Board">
		SELECT id, title, context, reg_date, user_id, writer, updated_date 
		FROM board
	</select>
	
	<select id="getBoardByTitle" parameterType="string" resultMap="board">
		SELECT id, title, context, reg_date, user_id, writer, updated_date 
		FROM board WHERE title = #{title}
	</select>
	
	<resultMap type="com.myboard.shop.dto.Board" id="board">
 		<result property="id" column="id"/>
 		<result property="context" column="context"/>
 		<result property="date" column="date"/>
 		<result property="writer" column="writer"/>
 		<result property="userId" column="user_id"/>
 		<result property="boardId" column="board_id"/>
 	</resultMap>
</mapper>
