<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.myboard.shop.mapper.BoardMapper">
	<insert id="insertBoard"
			parameterType="com.myboard.shop.dto.Board">
			INSERT INTO board (title, context, reg_date, writer, user_id)
			VALUES(#{title}, #{context}, #{regDate}, #{writer}, #{userId})
	</insert>
</mapper>
